/* .accountSettingAccessdDnied {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .accountSettingAccessdDniedBlock {
    width: 400px;
}
*/



.accountSettingAccessdDnied {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
}

.accountSettingAccessdDniedForm {
    position: relative;
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: #000000;
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 40px;
}

.accountSettingAccessdDniedHead {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: black;
    /* padding: 15px 0px 15px 0px; */
    gap: 10px;
} 





.headerTitle {
    color: #ffffff;
}

.buttonBackPage {
    display: flex;
    align-items: center;
    background: none;
    border: none;
}








.accountSettingAccessdDniedMainHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 30px;
}


.formTitle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formTitle h2 {
    color: #ffffff;
    text-align: center;
}


.accountSettingAccessdDniedInfo {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    padding-bottom: 50px;
    gap: 20px;
}

.accountSettingAccessdDniedInfo h3 {
    color: #ffffff;
}

.accountSettingAccessdDniedInfo p {
    color: #c0c0c0;
}

.styleFooter {
    display: flex;
    justify-content: center;
    width: 100%;
}

.accountSettingAccessdDniedButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.styleButtonDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008cff;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    padding: 10px 50px;
    outline: none;
    gap: 5px;
}



.error {
    color: rgb(255, 137, 137);
}





@media (max-width: 500px) {
    .accountSettingAccessdDniedForm {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0px;
        padding-top: 100px;
        padding: 40px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85vh;
    }

    .changePassword {
        background-color: rgb(0, 0, 0);
    }
}




/* 

@media (max-width: 430px) {
    .accountSettingAccessdDniedBlock {
        width: 400px;
    }
}

@media (max-width: 380px) {
    .accountSettingAccessdDniedBlock {
        width: 350px;
    }
}

@media (max-width: 320px) {
    .accountSettingAccessdDniedBlock {
        width: 300px;
    }
}
 */
