.content {
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding: 15px 20px 15px 20px;
}

.headerTitle {
    color: #ffffff;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Link {
    color: #b8b8b8;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}

